#!/usr/bin/env python

import psycopg2
import sys

try:
    conn = psycopg2.connect("dbname='{{ repmgr_db_name }}' user='{{ repmgr_db_user }}' host='localhost' password='{{ repmgr_db_password }}' connect_timeout=1")
except:
    sys.stdout.write("Unable to connect to the database\n")
    sys.exit(2)

cur = conn.cursor()

cur.execute("""SELECT pg_is_in_recovery()""")

rows = cur.fetchall()

if "False" in repr(rows[0]):
    if sys.argv[1] == 'master':
        sys.stdout.write("Active\n")
        sys.exit(0)
    sys.stdout.write("Active\n")
    sys.exit(2)

if len(rows) > 0:
    if sys.argv[1] ==  'slave':
        sys.stdout.write("Standby\n")
        sys.exit(0)
    sys.stdout.write("Standby\n")
    sys.exit(2)
